@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');


.card__detail--container {
    width: 70%;
    margin: 150px auto;
    padding: 4rem;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}


.card__detail {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    border-radius: 3px;
    padding: 3rem;
    width: 30%;
}

.card__detail--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card__detail--textTitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
}

.card__detail--textBrand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.1rem;
    color: rgb(198, 198, 198);
    font-style: oblique;
}

.card__detail--textDet {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
}

.card__detail--textPrice {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: salmon;
}

.button__then {
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #2196f3;
    padding: 10px;
    border: none;
    border-radius: 20px;
}